
# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/*.iml
.idea/modules.xml

cmake-build-debug/
cmake-build-release/
cmake-build-fast/
cmake-build-profile/

build*
.DS_Store
bin
lib
temp
Makefile
*.cmake
CMakeCache.txt
CMakeFiles

scores/
data/db.db
data/board/
